
.order-content
  .order__title Товары в заказе
  .order-table.order-table_basket

    include ../../modules/basket/items-in-basket


  .d-md-none.mobile-table-summary.center
    b К оплате: 14 760 Р
  .d-none.d-md-block
    a.link.link--gray_border.small(href='basket_empty.html')
      | Очистить
      | корзину
