.slider-size 
  .slider-size__title Добавить в корзину
  .slider-size__list 
    ul 
      li 
        a(href='#') XS
      li 
        a(href='#') S
      li 
        a(href='#') M
      li 
        a(href='#') L
      li 
        a(href='#') XL