.order-table__color
  a.order-table__color-link(href="#")
    span.color-beg
  a.order-table__color-link.color-active(href="#")
    span.color-black
  a.order-table__color-link(href="#")
    span.color-beg
  a.order-table__color-link(href="#")
    span.color-black
  a.order-table__color-link(href="#")
    span.color-beg
  a.order-table__color-link(href="#")
    span.color-black
  a.order-table__color-link(href="#")
    span.color-beg
  a.order-table__color-link(href="#")
    span.color-black
  .catalog-item-color +4 цвета