include ./popups/auth-form
//- include ./popups/login
//- include ./popups/restore-popup
//- include ./popups/callback-popup
//- include ./popups/size-popup
//- include ./popups/mail-popup
//- include ./popups/mobile-filter
//- include ./popups/tooltip-templates
//- include ./popups/message-log-in
//- include ./popups/change-password-popup
//- include ./popups/registration

//- include ./popups/show-on-map-popup  
//- include ./popups/checkout-popup  