//- - var windowWidth = screen.width

footer.page-footer(itemscope='', itemtype='http://schema.org/WPFooter')
  .page-inner.page-inner--w1
    .footer-top
      ul.footer-top__list
        li.footer-top__item
          a(href='#') Telegram
        li.footer-top__item
          a(href='#') Вконтакте
    .footer-content

      .footer-content__left

          .accordion.d-block.d-lg-none.w-100
            .accordion-item
              .accordion-item-heading Покупателю
              .accordion-item-content
                ul.footer-content__list
                  li
                    a(href='#') Доставка и оплата
                  li
                    a(href='#') Гарантия и возврат
                  li
                    a(href='#') Руководство по покупке
                  li
                    a(href='#') Система лояльности
                  li.only-mobile
                    a(href='#') Политика конфиденциальности
                  li.only-mobile
                    a(href='#') Оферта
                  li.only-mobile
                    a(href='#') Политика конфиденциальности
            .accordion-item
              .accordion-item-heading Компания
              .accordion-item-content
                ul.footer-content__list
                  li
                    a(href='#') Магазины
                  li
                    a(href='#') О нас
                  li
                    a(href='#') Контакты
                  li
                    a(href='#') Работа у нас
          
          .d-none.d-lg-flex.w-100
            ul.footer-content__list
              li
                a(href='#') Доставка и оплата
              li
                a(href='#') Гарантия и возврат
              li
                a(href='#') Руководство по покупке
              li
                a(href='#') Система лояльности
            ul.footer-content__list
              li
                a(href='#') Магазины
              li
                a(href='#') О нас
              li
                a(href='#') Контакты
              li
                a(href='#') Работа у нас

      .footer-content__center
        a.header-logo(href='#')
          img(src='../svg/header_logo.svg', alt='')
      .footer-content__right
        .footer-content__right-content
          .footer-text
            | Подпишитесь на рассылку с новостями о тенденциях, специальных предложениях и новинках!
          .footer-form
            form(action='')
              .footer-form__form
                input(type='text', placeholder='Введите свой E-mail')
                button.btn.btn--white ok
              .privacy-policy
                | Подписываясь на расслыку, вы соглашаетесь
                br
                | с 
                a(href='#') политикой конфиденциальности
    .footer-bottom
      .footer-bottom__left
        ul.footer-bottom__list
          li
            a(href='#') Политика конфиденциальности
          li
            a(href='#') Оферта
      .footer-bottom__center
        a(href='#') RUFORMAT®
      .footer-bottom__right
        | © 1999-2022 Интернет-магазин «Brusnika»    
