//- Scripts
script(type='text/javascript', src='https://api-maps.yandex.ru/2.1/?apikey=6f387da6-ba3c-46bf-96a7-261df17d04f7&lang=ru_RU')
script(type='text/javascript', src='../../js/jquery-3.4.1.min.js')
script(type='text/javascript', src='../../js/plugins/jcf.js')
script(type='text/javascript', src='../../js/plugins/jcf.checkbox.js')
script(type='text/javascript', src='../../js/plugins/jcf.radio.js')
script(type='text/javascript', src='../../js/plugins/jcf.range.js')
script(type='text/javascript', src='../../js/plugins/jcf.number.js')
script(type='text/javascript', src='../../js/plugins/jcf.select.js')
script(type='text/javascript', src='../../js/plugins/jcf.scrollable.js')
script(type='text/javascript', src='../../js/plugins/jquery.maskedinput.min.js')
script(type='text/javascript', src='../../js/plugins/jquery.validate.min.js')
script(type='text/javascript', src='../../js/plugins/magnific-popup.min.js')
script(type='text/javascript', src='../../js/plugins/bodyScrollLock.min.js')
script(type='text/javascript', src='../../js/plugins/jquery.autocomplete.js')
script(type='text/javascript', src='../../js/plugins/tooltipster.bundle.min.js')
script(type='text/javascript', src='../../js/plugins/slick.min.js')
script(type='text/javascript', src='../../js/plugins/magnific-popup.min.js')
script(type='text/javascript', src='../../js/plugins/datepicker.min.js')
script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js')
script(type='text/javascript', src='../../js/plugins/js.cookie.min.js')
script(type='text/javascript', src='../../js/project.js?v=31-01-22')

script(type='module', src='../../js/plugins/swipe.js')
//- script(type='text/javascript', src='../../node_modules/simplebar/dist/simplebar.min.js')
script(type='text/javascript', src='../../js/scrollPage.js')
    //- Sripts

