
header.page-header(itemscope='' itemtype='http://schema.org/WPHeader')
  //- основное меню
  include menus/header-menu.pug
  //- меню 'Покупателям'
  include menus/catalog-buyer-menu.pug
  //- меню 'Поиск'
  include menus/catalog-search-menu.pug
  //- меню 'Каталог'
  include menus/catalog-menu.pug
  //- меню 'Корзина'
  include menus/basket-menu.pug
  //- для стр товара
  include menus/size-menu  