.filters-block
  //- .filters-row.d-block.d-lg-none
  //-   .filter-items.filters-list(data-params='{"slidesToShow": 10}')
  //-     a(href='#') Эко–кожа
  //-     a(href='#') вискоза / хлопок
  //-     a(href='#') Шерсть / кашемир
  //-     a(href='#') комбинезоны
  //-     a(href='#') Цвет
  .filters-row
    .filters-list
      a.mobile-filter-open(href='#') Фильтры(2)
    .filters-row__list.d-none.d-lg-block
      ul.filters-list
        li
          a(href='#') Эко–кожа
        li
          a(href='#') вискоза / хлопок
        li
          a(href='#') Шерсть / кашемир
        li
          a(href='#') комбинезоны
        li
          a(href='#') Цвет
    div
      ul.filters-list-small
        li
          a(href='#') Крупно
        li
          a.active(href='#') Мелко
  //- .catalog-filtered.d-none.d-lg-block
  //-   .catalog-filtered-items
  //-     span.catalog-filtered-item Показано 398 товаров
  //-     a.catalog-filtered-item.link.link--black(href='#') Бежевый 
  //-     a.catalog-filtered-item.link.link--black(href='#') XXL
  //-     a.catalog-filtered-item.link.link--black(href='#') Цена от 10 000 до 50 000 Р
  //-     a.catalog-filtered-item.link.link--black(href='#') Полиэстер 
  //-     a.mobile-filter-heading-reset.link.link--black_border(href='#' onclick='window.location.reload();return false;')
  //-       | Очистить фильтр

