a.catalog-menu__link.mb-20px {
  margin-bottom: 20px;
}

.catalog-menu__simplebar {
  height: 100%;
  overflow-y: auto;
}

.catalog-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -500px;
  max-width: 500px;
  width: 100%;
  z-index: 10;
  transition: left 0.3s;
  background: #fff;
  padding: 10px 0;
  overflow-y: auto;
}

.catalog-menu_visible {
  left: 0;
}

.catalog-menu__close {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.catalog-menu__close::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: url(/src/svg/close.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.3s opacity cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.catalog-menu__list {
  top: 47px;
  position: relative;
  left: 3px;
  width: calc(100% - 70px);
  height: 100vh;
}
.catalog-menu__list li {
  padding: 0;
  list-style-type: none;
}

.catalog-menu__sublink,
.catalog-menu__link {
  text-decoration: none;
  color: #1d1d1d;
}

a.catalog-menu__link {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 9px 0;
  display: inline-flex;
}

.catalog-menu__link-red {
  color: #FF300A;
}

a.catalog-menu__link_lowercase {
  text-transform: inherit;
}

.catalog-menu__sublink {
  font-size: 12px;
  line-height: 20px;
  display: block;
  margin: 7px 0 7px 5px;
  text-transform: capitalize;
}

.catalog-menu__link.catalog-menu__separator {
  margin-bottom: 20px;
}

.catalog-menu__separator {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.catalog-menu-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}

.catalog-menu-footer a {
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #1d1d1d;
}

.accordion_catalog-menu .accordion-item-heading {
  display: inline-flex;
}

.accordion_catalog-menu .accordion-item {
  border: none;
  margin-bottom: 10px;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading {
  padding: 0;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading .catalog-menu__link {
  padding: 0;
  margin: 0;
}

.accordion_catalog-menu .accordion-item .accordion-item-content {
  padding: 0 0 10px 0;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading:before {
  right: 0;
  height: 1px;
  width: 9px;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading:before {
  right: -20px;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading:after {
  right: 9px;
  width: 1px;
  height: 9px;
}

.accordion_catalog-menu .accordion-item .accordion-item-heading:after {
  right: -16px;
}

.search-open .page:after {
  z-index: 100;
  top: 130px;
}

.catalog-buyer-menu,
.catalog-search-menu {
  display: none;
}

.catalog-buyer-menu.active,
.catalog-search-menu.active {
  display: block;
}

.menu-sections {
  display: flex;
  padding: 30px;
  /* position: relative; */
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
}

.menu-sections__inner {
  margin: auto;
  width: 100%;
  max-width: 1330px;
  margin: auto;
}

#catalog-search-menu {
  display: none;
}

#catalog-search-menu .menu-sections {
  top: 82px;
  flex-direction: column;
  z-index: 1000;
}

#catalog-buyer-menu .menu-sections {
  top: 60px;
  z-index: 1000;
  padding: 50px 53px;
}

#catalog-buyer-menu .page-inner {
  position: relative;
}

.buyer-menu__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.buyer-menu__link:hover {
  color: #666666;
}

/* #catalog-buyer-menu */
.buyer-menu__list {
  margin-right: 110px;
}

.buyer-menu__list li {
  padding: 0px;
  list-style-type: none;
  margin-bottom: 10px;
}

/* /#catalog-buyer-menu */
.buyer-menu__link {
  color: #1d1d1d;
  text-decoration: none;
}

.buyer-menu__link-download {
  display: flex;
  position: relative;
  color: #666666;
  text-decoration: none;
  text-transform: uppercase;
}

.buyer-menu__link-download_ios::before {
  content: "";
  margin-right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  background: url(/src/svg/ios.svg) no-repeat center center;
  background-size: contain;
}

.buyer-menu__link-download_android::before {
  content: "";
  margin-right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  background: url(/src/svg/android.svg) no-repeat center center;
  background-size: contain;
}

@media screen and (max-width: 500px) {
  .catalog-menu {
    max-width: 90%;
    padding: 10px 0;
  }
  .catalog-menu .page-inner {
    padding: 0 15px;
  }
  .catalog-menu-footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    background: #fff;
    justify-content: space-between;
    width: calc(90% - 15px - 21px);
    height: 47px;
  }
  .catalog-menu-footer a {
    height: 47px;
    line-height: 47px;
    padding-right: 15px;
  }
}
.simplebar__wrapper {
  height: 100vh;
}

.basket-menu-sections.simplebar__wrapper {
  height: calc(100vh - 100px);
}
.basket-menu-sections.simplebar__wrapper .simplebar__width {
  width: 399px;
}

#catalog-size .simplebar__wrapper {
  height: calc(100vh - 0px);
}
#catalog-size .simplebar__width {
  margin-right: 30px;
  width: 460px;
}/*# sourceMappingURL=catalog-menu.css.map */