.product {
  display: grid;
  /* grid-template-columns: 1fr minmax(auto, max-content) 1fr; */
  grid-template-columns: 4fr 6fr 4fr;
  gap: 15px;
}

.product__accordion-availability {
  display: flex;
  flex-direction: column;
}
.product__availability {
  display: flex;
  justify-content: space-between;
}

.product-info {
  position: relative;
}
.product-info__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1D1D1D;
  margin-bottom: 20px;
}

.product-to-basket__content,
.product-info__content {
  margin-top: 140px;
}

.product-to-basket__content .btn {
  max-width: 100%;
}

.product .product-size-select {
  white-space: nowrap;
}

.products-photos__wrapper {
  /* border: 1px solid violet; */
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  gap: 17px;
  justify-content: center;
}

.product-photos__inner {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

/* -------------------------- */
.product-photos {
  max-width: 650px;
  max-height: 967px;
  overflow: hidden;
}
.product-photos img {
  width: 100% !important;
}

.product-photos-nav {
  max-width: 70px;
  position: absolute;
  top: 0px;
  height: 100%;
  background: #fff;
}
.product-photos-nav.slick-list.draggable {
  height: 100vh !important;
  background: #fff;
}

/* -------------------------- */
.product-to-basket .product-title-holder {
  position: relative;
  margin-bottom: 30px;
}

.product-to-basket .product-title-holder .product-like {
  opacity: 1;
  top: 0;
  right: 0;
}

.product-to-basket .product-list-link {
  width: 50px;
  height: 80px;
  display: flex;
}

.card-nav,
.product-to-basket .product-size {
  margin-bottom: 15px;
}
.card-nav .jcf-select.jcf-drop-active,
.product-to-basket .product-size .jcf-select.jcf-drop-active {
  border-bottom-color: #a7a7a7;
}
.card-nav .jcf-select-drop,
.product-to-basket .product-size .jcf-select-drop {
  border-top: 1px solid #a7a7a7;
}
.card-nav .jcf-select .jcf-select-drop,
.product-to-basket .product-size .jcf-select .jcf-select-drop {
  position: absolute;
  left: -1px;
  top: 130%;
}
.card-nav .jcf-list-content li,
.product-to-basket .product-size .jcf-list-content li {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.card-nav .jcf-select-drop .jcf-option,
.product-to-basket .product-size .jcf-select-drop .jcf-option {
  padding: 15px;
}

.product-to-basket .product-list {
  display: flex;
  gap: 20px;
}

.jcf-select-w100 {
  width: 100%;
}

.product-size__link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  color: #1d1d1d;
}

.product-size__link a {
  color: #1d1d1d;
}

.product-razdel {
  color: #666666;
  margin-bottom: 10px;
}

.product-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.product-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.product-properties {
  margin-bottom: 20px;
}

.product-photos-nav .slick-slide {
  cursor: pointer;
  width: 53px !important;
  height: 80px;
}

.product-photos img {
  cursor: url(/dev/dummy/zoom-in.svg), zoom-in;
}

.card-photo-item {
  position: relative;
}

.card-photo-item:before {
  content: "";
  display: block;
  padding-top: 80%;
}

/* ===============card-nav======================= */
.card-nav {
  position: fixed;
  bottom: 0;
  width: calc(100% - 35px);
  z-index: 100;
  padding: 10px 15px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0px 14px rgba(96, 96, 96, 0.2);
}

.card-nav .product-list {
  display: flex;
}

.card-nav .product-list-item {
  margin-right: 20px;
}

.card-nav .product-list-img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.card-nav .product-list-link {
  width: 40px;
  height: 60px;
  display: flex;
}

.card-nav .product-list-link:hover img {
  border: 1px solid #A4A1A1;
}

.card-nav__col1,
.card-nav__col2 {
  flex: 1;
}

.card-nav__col1 .product-title {
  margin-right: 10px;
}

.card-nav__col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nav .product-size {
  width: 100%;
  min-width: 256px;
  white-space: nowrap;
  margin-right: 20px;
}

.active-like:after {
  opacity: 1;
  filter: none;
  transform: translateY(0);
}

@media screen and (max-width: 830px) {
  .card-nav__col2,
.card-nav {
    flex-direction: column;
    gap: 15px;
  }
  .card-nav .product-size {
    margin: 15px 0;
  }
}
@media screen and (max-width: 1230px) {
  .product {
    grid-template-columns: 1fr;
  }
  .products-photos__wrapper {
    grid-row: 1;
  }
  .product-to-basket {
    grid-row: 2;
  }
  .product-to-basket__content .btn {
    max-width: 180px;
  }
  .product-to-basket__content, .product-info__content {
    margin-top: 0;
  }
}/*# sourceMappingURL=product.css.map */