
extends layout/main

block variables
  - var title = 'brand'
  - var mainPage = false


block content
  main.page-content
    .page-section.page-section--brand
      .page-inner.page-inner--w1.page-inner--mobile_empty
        include modules/filter
        include modules/filter-rezult-not-found
      .page-inner.page-inner--w2 
        include modules/catalog 
      .page-inner--w1.page-inner.hidden-x
        .page-inner.page-inner--w2
          .catalog
            include modules/slider-prev-watched