#change-password-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-title.uppercase Сменить пароль
  form.form(novalidate="novalidate" submit='')
    .tabs.form-tabs
      .tabs-heading.form-tabs-heading
        .form-tabs-heading-items
          .tab-heading-item.active.form-tab-heading-item(data-tab='#form_email' data-tabs='.tab') Через E-mail
          .tab-heading-item.form-tab-heading-item(data-tab='#form_phone' data-tabs='.tab') Через смс
      .tabs-content.form-tabs-content

        #form_phone.tab-content-item.tab.show.form-tab-content-item
          .form-row
            .page-popup-title--small Пожалуйста, введите вашномер, на который мы 
                | отправим смс скодом для восстановления пароля   
          .form-row
            label.form-label(for='auth_sms') Контактный телефон
            .form-item-holder
              input#auth_sms.form-item.form-item--text(type='tel' name='auth_sms' required='' placeholder='+7-___-___-___' data-validation='{"message": "Укажите номер телефона", "mask": "+7 999-999-999"}')
          .form-row
            button.btn.btn--black.btn--medium.w100.max-w100(type='submit') ВЫСЛАТЬ КОД

        #form_email.tab-content-item.tab.active.form-tab-content-item
          .form-row
            .page-popup-title--small Пожалуйста, введите ваш адрес электронной почты, 
                | на который мы отправим ссылку для восстановления пароля
          .form-row
            label.form-label(for='auth_email') Ваш E-mail
            .form-item-holder
              input#auth_email.form-item.form-item--text(type='email' name='auth_email' required='' data-validation='{"message": "Укажите корректный e-mail"}')

          .form-row
            button.btn.btn--black.btn--medium.w100.max-w100(type='submit') ОТПРАВИТЬ