#login-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b Вход
  form.form
    .form-fields
      .form-row
        label.form-label(for='login_form_login') Логин или e-mail
        input#login_form_login.form-item.form-item--text(type='text' name='login')
      .form-row
        label.form-label(for='login_form_password') Пароль
        input#login_form_password.form-item.form-item--text(type='password' name='password')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Войти
  .page-popup-buttons
    .row
      .col-6
        a.link.link--black(href='#restore-popup' data-popup='{"type":"inline"}')
          b Я забыл пароль
      .col-6
        a.link.link--black(href='register.html')
          b Регистрация