#restore-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b СМЕНИТЕ свой пароль
    .page-popup-heading-description
      | Введите адрес электронной почты, и мы направим письмо с инструкцией.
  form.form
    .form-fields
      .form-row
        label.form-label(for='restore_restore_email') Адрес электронной почты
        input#restore_restore_email.form-item.form-item--text(type='password' name='restore_email')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Войти