#show-on-map-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-title.uppercase Выбор магазина BRUSNIKA

  .delivery-map
    .delivery-map-title
      | отложила на по позже
      | 1111111
    .delivery-map-selected
      strong Выбран: 
      span.delivery-map-selected-value  
