.tooltip_templates
  #tooltip_content.white-popup
    .add-favorites
      .add-favorites__img
        img(src='../dummy/catalog/c1.jpg' alt='')
      .add-favorites__text
        .add-favorites__title
          | Товар добавлен в избранное
        div
          a.link.link--black_border.add-favorites__link(href='favorites.html')
            | Перейти в избранное
    a.tooltip__close(href='#')
      img(src='../svg/close.svg' alt='')