
extends layout/main

block variables
  - var title = 'card'
  - var mainPage = false


block content
  main.page-content
    .page-section.page-section--brand
      .page-inner.page-inner--w2 page-inner

        //- block page-inner

      .page-inner--w1.page-inner.hidden-x
        .page-inner.page-inner--w2
          .catalog
            include modules/slider-prev-watched

block footer-popups 
  include modules/menus/mobile-filter