extends layout/main

block variables
  - var title = 'Брусника index'
  - var mainPage = false


block content
  .page
    //- include modules/header

    block page-inner

  //-   include modules/footer
  //- include modules/footer-popups
  //- include modules/footer-scripts
