$bgcolor-gray: #F6F5F5;

$color-gray-one: #F8F8F8;

$color-gray-two: #E1E1E1;

$color-gray-three: #A4A1A1;
$color-gray-four: #666666;

$color-black: #1D1D1D;

//цвет рамки input
$color-border-input: #D6D6D6;
$color-border-input-focused: #2B2B2B;

//цвет при наведении на кнопку
$color-btn--black-hover: #404040;

$color-form-error: #D7222B;
$color-form-item-note: #2B2B2B;



// ------------------------

$color-white: #ffffff;
$color-link: #828282;